@import "../../variables";
.c-terminal {
  font-size: calc(10px + 1vmin);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  input {
    opacity: 0;
  }
}

.c-terminal__result {
  margin: 5px;
  p,
  pre {
    margin: 0;
    font-family: "VT323", monospace;
  }
}

.c-terminal__command-line {
  position: relative;
  display: flex;
  form {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
  }
  input {
    width: 100%;
  }
}

.c-terminal__cmd {
  padding: 5px;
}

.c-terminal__cmd--adrSym {
  &:after {
    content: " :: ";
  }
}

.c-terminal__cmd--path {
  &:after {
    content: " \21D2 ";
  }
}

.u-typed-cursor {
  border-right: 0.15em solid $color-text; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $color-text;
  }
}

.u-clean-list {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.u-cmd--valid {
  color: $color-text-valid;
}

.u-cmd--not-valid {
  color: $color-text-not-valid;
}
