.g {
  color: #007700;
}
.lg {
  color: #00b600;
}
.w {
  color: #00ff00;
}
.by {
  color: #0c1d12;
}
$color-text: #00b600;
$color-text-valid: #00ff00;
$color-text-invalid: #007700;
$color-sidebar: #007700;
$color-bg: #0c1d12;
